$linear-color-1: #da4733;
$linear-color-2: #3b78e7;
$linear-color-3: #094420;

$success-background-color: #4b9e37;
$success-box-shadow-color: #2e9c13;

$error-background-color: #da5151;
$error-box-shadow-color: #bd3535;

$warning-background-color: #969600;
$warning-box-shadow-color: #7d7a0b;

$default-background-color: #555;
$default-box-shadow-color: #dfdfdf;

$divider-border-color: #fff;

$font-color: #333333;
