$background: #2e7423;

$linear-color-1: #da4733;
$linear-color-2: #3b78e7;
$linear-color-3: #094420;

$alternate-font-color: #ffffff;
$font-color: #333333;
$alternate-font-color-1: yellow;
$alternate-font-color-2: #dfdfdf;

$carousel-item-background: #222222;
